body {
    background-color: #dcece9;
}

nav ul{
    display: inline-flex;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    padding: 4px;
    list-style:none;
    margin: 0;
    width: fit-content;
}

nav ul li{
    margin: 0 15px;
    border-radius: 25px;
    background-color: #f0f0f0;
    padding: 8px 16px;

}

nav ul li:hover{
    background-color: #d0f0f0;
    color: #333;

}